header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 100px;
  align-items: end;
  border-bottom: .3rem solid darkgrey;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: orange;
  align-self: auto;
  padding-right: 3rem;
}

nav {
  grid-column: 4/ span 2;
  padding-left: 1rem;
  color: rgb(156, 65, 131);
}

nav a {
  text-decoration: overline;;
  color: darkgrey;
  background-color: yellow;
  font-size:
}
